@import 'tailwindcss';

@theme {
  --*: initial;

  /* Colors */
  --color-primary: #316faf;
  --color-primary-hovered: #215183;
  --color-primary-clicked: #16395c;
  --color-text: #4d4d4d;
  --color-text-on-dark: #e3e3e3;
  --color-dark: #11273d;
  --color-white: #ffffff;
  --color-surface-subtle: #ecf4fa;
  --color-surface-alt: #f6fbff;
  --color-surface-inner-dark: #3c536a;
  --color-surface-light: #fefefe;
  --color-surface-medium: #bfd2e6;
  --color-stroke: #d3e0eb;
  --color-stroke-light: #ebf3fa;
  --color-stroke-subtle: #eef6ff;
  --color-stroke-on-dark: #5d6f80;
  --color-icon-stroke-on-dark: #283c50;
  --color-section-soft-fade: #ecf4fa;

  /* Sizes */
  --spacing-0: 0;
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-3: 4px;
  --spacing-4: 8px;
  --spacing-5: 10px;
  --spacing-5: 12px;
  --spacing-6: 14px;
  --spacing-7: 16px;
  --spacing-8: 18px;
  --spacing-9: 20px;
  --spacing-10: 24px;
  --spacing-11: 28px;
  --spacing-12: 32px;
  --spacing-13: 36px;
  --spacing-14: 42px;
  --spacing-15: 56px;
  --spacing-16: 75px;
  --spacing-17: 80px;

  /* Text sizes */
  --text-sm: var(--spacing-4);
  --text-xmd: var(--spacing-5);
  --text-md: var(--spacing-6);
  --text-xlg: var(--spacing-7);
  --text-lg: var(--spacing-8);
  --text-xl: var(--spacing-10);
  --text-2xl: var(--spacing-12);
  --text-3xl: var(--spacing-14);
  --text-4xl: var(--spacing-15);
  --text-5xl: var(--spacing-16);

  /* Fonts weigth */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Radius */
  --radius-0: var(--spacing-0);
  --radius-sm: var(--spacing-4);
  --radius-md: var(--spacing-5);
  --radius-lg: var(--spacing-6);

  /* Breakpoints */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
  --breakpoint-3xl: 1440px;
  --breakpoint-4xl: 1920px;

  /* Fonts */
  --font-clashDisplay: 'Clash Display', sans-serif;
  --font-instrumentSans: 'Instrument Sans', sans-serif;

  /* Shadows */
  --shadow-base: 0 6px 16px 0 rgb(28 26 38 / 0.1);
}

@layer components {
  .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
  }
}

/* ====== Complete texts setup ====== */
@utility d-headline-h1-hero {
  font-family: var(--font-clashDisplay);
  font-weight: 500;
  font-size: var(--text-5xl);
  line-height: 120%;
  letter-spacing: 0%;
}

@utility d-headline-h1 {
  font-family: var(--font-clashDisplay);
  font-weight: 500;
  font-size: var(--text-3xl);
  line-height: 140%;
  letter-spacing: 0%;
}

@utility d-headline-h2-hero {
  font-family: var(--font-clashDisplay);
  font-weight: 500;
  font-size: var(--text-4xl);
  line-height: 140%;
  letter-spacing: 0%;
}

@utility d-headline-h2 {
  font-family: var(--font-clashDisplay);
  font-weight: 500;
  font-size: var(--text-2xl);
  line-height: 140%;
  letter-spacing: 0%;
}

@utility d-headline-h3 {
  font-family: var(--font-clashDisplay);
  font-weight: 500;
  font-size: var(--text-xl);
  line-height: 140%;
  letter-spacing: 0%;
}

@utility d-headline-h4 {
  font-family: var(--font-clashDisplay);
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 160%;
  letter-spacing: 0%;
}
@utility d-headline-h5 {
  font-family: var(--font-clashDisplay);
  font-weight: 500;
  font-size: var(--text-xlg);
  line-height: 100%;
  letter-spacing: 0%;
}

@utility d-headline-h6 {
  font-family: var(--font-clashDisplay);
  font-weight: 500;
  font-size: var(--text-md);
  line-height: 140%;
  letter-spacing: 0%;
}

@utility d-body-regular-xl {
  font-family: var(--font-instrumentSans);
  font-weight: 400;
  font-size: var(--text-lg);
  line-height: 160%;
  letter-spacing: 0%;
}

@utility d-body-regular-l {
  font-family: var(--font-instrumentSans);
  font-weight: 400;
  font-size: var(--text-xlg);
  line-height: 160%;
  letter-spacing: 0%;
}

@utility d-body-regular-m {
  font-family: var(--font-instrumentSans);
  font-weight: 400;
  font-size: var(--text-md);
  line-height: 160%;
  letter-spacing: 0%;
}

@utility d-body-regular-s {
  font-family: var(--font-instrumentSans);
  font-weight: 400;
  font-size: var(--text-xmd);
  line-height: 150%;
  letter-spacing: 0%;
}

@utility d-body-regular-xs {
  font-family: var(--font-instrumentSans);
  font-weight: 400;
  font-size: var(--text-sm);
  line-height: 180%;
  letter-spacing: -2%;
}

@utility d-body-medium-l {
  font-family: var(--font-instrumentSans);
  font-weight: 500;
  font-size: var(--text-xlg);
  line-height: 150%;
  letter-spacing: 0%;
}

@utility d-body-semibold-m {
  font-family: var(--font-instrumentSans);
  font-weight: 600;
  font-size: var(--text-md);
  line-height: 150%;
  letter-spacing: 0%;
}
